@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding:0 ;
}

body{
    background:#111111;
   color: #ffffff;
   font-family: "Poppins";
}

/* header */
.top{
    height: 590px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: space-around;
    display: none;
}

.fa-circle-half-stroke{
    color: #CA1A27;
}
.logo-logo{
    color: #CA1A27;
    font-size: 28px;
}

.nav-lists{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    color: #ffffff;
    margin-left: 300px;
    text-transform: uppercase;
    font-size: 13px;
}
.nav-item:hover{
    color: #CA1A27;
}
.bars{
    display: none;
}

/* flex 1 */

.flex-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 510px;
    margin: 0 90px 0 150px;
    /* height: 450px; */
}

.flex-1-left img{
    width: 500px;
    /* margin-left: 90px; */
    margin-bottom: 20px;
   
}
.flex-1-right{
    max-width: 550px;
    /* margin-right: 150px;; */
    margin-top: 160px;
}
.name-1{
    color: #CA1A27;
    font-size: 18px;
    font-weight: 600;
}
.head-1{
    font-size: 50px;
    color: #ffffff;
}
.line-1{
font-size: 17px;
color: #ffffff;
font-weight: 300;
line-height: 23px;
margin-top: 8px;
}
.btn-1{
    color: #ffffff;
    background-color: #CA1A27;
    padding: 15px 40px;
    border: none;
    margin-top: 35px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}


.black-box{
    width: 50vw;
    height: 120vh;
    background-color: #181818;
}
.flex-2{
    display: flex;
    flex-direction: row;
    margin-left: 230px;
    margin-right: 230px;
    gap: 20px;
}
.design{
    height: 350px;
    padding-left: 50px;
    background-color: #1E1E1E;
}
.fa-calculator, .fa-clipboard,  .fa-ruler-combined{
    color: #CA1A27;
    margin-top: 50px;
}
.design-topic{
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
}
.know{
color: #CA1A27;
font-weight: 600;
margin-top: 20px;
}
.fa-arrow-right{
    color: #CA1A27; 
    margin-left: 5px;
}
.design-line{
    font-size: 20px;
    font-weight: 300;
    margin-top: 17px;
}
.design:hover{
    background-color: #CA1A27;
}
.design:hover>.fa-calculator, .design:hover>.know, .design:hover>.fa-clipboard ,.design:hover>.fa-ruler-combined{
   color: #ffffff;
}

.flex-3{
    display: flex;
    flex-direction: row;
    
    margin-left: 230px;
    margin-right: 230px;
    height: 280px;
    gap: 18px;
    margin-top: 100px;
}
.twelve{
    /* width: 305px; */
    max-width: 270px;
    line-height: 65px;
}
.number{
    width: 309px;
    line-height: 30px;
    background-color: #1E1E1E;
}
.twelve div{
    color: #CA1A27;
    font-size: 85px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 80px;
}
.twelve p{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.number div{
    color: #CA1A27;
    font-size: 40px;
    font-weight: 600;
    margin-left: 120px;
    margin-top: 33px;
}
.number p{
    text-align: center;
}
.flex-3-mini{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.black{
    position: relative;
}
.black-above{
    position: absolute;
    top: 120px;
}


.single-line{
    display: flex;
    flex-direction: row;
    
    margin: 60px 230px 0 230px;
    justify-content: space-between;
    align-items: center;
}
.feature{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 800;
}
.feature-line{
    font-size: 14px;
    margin-top: 10px;
}
.view{
    background-color: #CA1A27;
    color: #ffffff;
    padding: 0 40px;
    height: 40px;
    border: none;
}


.project-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px 230px 0 230px;
    gap: 30px;
}
.pic{
    width: 400px;
    margin:60px 25px ;
    /* margin-left: 25px;
    margin-top: 60px; */
}
.pic-4{
    margin: 80px 25px;
}
.pic-shadow{
    background-color:#1E1E1E ;
}
.project-name{
    font-size: 22px;
    margin-top: 15px;
}
.project-know{
    margin-top: 6px;
    color: #CA1A27;
    font-weight: 600;
}


.contact-flex{
    margin: 100px 230px 0 230px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: row;
  
    min-height: 300px;
    justify-content:space-between;
    align-items: center;
}
.contact-flex-left{
    max-width: 500px;
   margin-left: 50px;
}
.contact-head{
    font-size: 42px;
    font-weight: 600;
}
.contact-line{
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}
.contact-flex-right{
    background-color: #CA1A27;
    color: #ffffff;
    padding: 15px 40px;
    border: none;
    margin-right: 150px;
}


.single-line-2{
    margin-top: 100px;
}
.nav-lists-2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 12px;
    text-transform: uppercase;
    list-style: none;
    margin-left: 580px;
}


.bottom{
    height: 13vh;
    background-color:#1E1E1E ;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between  ;
}
.logo-logo-1{
    color: #CA1A27;
    font-size: 28px;
    margin-left: 180px;
}
.right{
    margin-right: 180px;
   
}
.right i{
    padding-left: 30px;
}


@media screen and (max-width:768px) {
    .navbar{
        display: flex;
        justify-content:space-between;
        margin: 0 50px 0 50px;
    }
    .nav-lists{
        gap: 25px;
        margin-left: 0;
    }
    .head-1{
        font-size: 35px;
        line-height: 40px;
    }
    .flex-1{
        margin: 0 50px 0 50px;
    }
    .flex-1-right{
        margin-top: 0;
    }
    .black-box{
        height: 1250px;
    }
    .black-above{
        top: 80px;
    }
    .flex-2{
        flex-direction: column;
    }
    .design{
        /* width: 280px; */
        height: 250px;
    }
    .design-topic{
        font-size: 20px;
        margin-top: 20px;
    }
    .design-line{
        font-size:18px ;
    }
    .fa-calculator, .fa-clipboard,  .fa-ruler-combined{
        margin-top: 25px;
    }
    .flex-3{
        flex-direction: row;
        margin: 50px 70px 0 70px;
        height: 220px;
    }
    .flex-3-mini{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .number{
        width: 150px;
    }
    .number p{
        font-size: 14px;
    }
    .number div{
        margin-left: 50px;
    }
    .twelve div{
        margin-left: 40px;
    }
    .single-line{
        margin: 50px 50px 0 50px;
        
    }
    .contact-flex{
        flex-direction: column;
        margin: 60px 70px 0 70px;
        justify-content: flex-start;
    }
    .nav-lists-2{
        margin-left: 250px;
    }
    .project-flex{
        margin: 60px 70px 0 70px;
    }
    .pic{
        width: 250px;
        margin: 25px 15px;
    }
    .pic-4{
        margin: 35px 15px;
    }
    .contact-flex-left{
        margin-left: 0;
    }
    .contact-head{
        margin-top: 15px;
        font-size: 30px;
        text-align: center;
    }
    .contact-line{
        text-align: center;
    }
    .contact-flex-right{
        margin-top: 35px;
        margin-right: 0;
    }
    .logo-logo-1{
        margin-left: 50px;
    }
    .right{
        margin-right: 50px;
    }
}

@media screen and (max-width:425px){
    .black-box{
        height: 1450px;
    }
    .nav-lists{
        display: none;
    }
    .bars{
        display: flex;
        color: #ffffff;
    }
    .top{
        height: 670px;
    }
    .flex-1{
        flex-direction: column;
        margin: 0 50px 0 50px;
    }
    .flex-1-left img{
        width:300px ;
    }
    .flex-3{
        flex-direction: column;
    }
    .project-flex{
        grid-template-columns: 1fr;
    }
    .pic{
        width: 250px;
    }
    .nav-lists-2{
        margin-left: 100px;
    }
    .flex-2{
        margin: 0 70px 0 70px;
        /* display: none; */
    }
    .design{
      padding-left: 20px;
      width: 260px;
    }
    .single-line{
        flex-direction: column;
    }
    .number{
        width: 120px;
    }
    .number div{
        font-size: 30px;
        margin-top: 25px;
        margin-left: 40px;
    }
    .number p{
        font-size: 12px;
    }
}